body {
    background-color: black;
}

.main_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40vh auto;
}

h1 {
    font-size: 55px;
    color: deepskyblue;
}